/* Fonts */
@font-face {font-family: 'FuturaBT-Heavy';src: url('webfonts/33C407_0_0.eot');src: url('webfonts/33C407_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33C407_0_0.woff2') format('woff2'),url('webfonts/33C407_0_0.woff') format('woff'),url('webfonts/33C407_0_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Light';src: url('webfonts/33C407_1_0.eot');src: url('webfonts/33C407_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33C407_1_0.woff2') format('woff2'),url('webfonts/33C407_1_0.woff') format('woff'),url('webfonts/33C407_1_0.ttf') format('truetype');}

/* General rules */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    font-family: FuturaBT-Light, sans-serif;
    font-size: 16px;
}
a {
    color: #FF6225;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, strong {
    font-family: FuturaBT-Heavy, sans-serif;
    font-weight: 300;
}

/* HOME */
#home {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Intro text */
.intro {
    position: absolute;
    margin: 3%;
    width: 25%;
}
.intro p {
    margin-bottom: 5px;
}

/* Projects (hexagon & capsules) */
#projects {
    width: 100%;
    height: 100%;
}

#hexagon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -37.5vh;
    margin-left: -33.5vh;
    height: 75vh;
    width: 67vh;
}

#directions {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -37.5vh;
    margin-left: -33.5vh;
    height: 75vh;
    width: 67vh;
    list-style: none;
}
#directions li {
    width: 200px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    font-size: 12px;
}
#directions li#professional {
    top: 0;
    left: 50%;
    margin-top: -30px;
    margin-left: -100px;
}
#directions li#digital {
    top: 25%;
    left: 100%;
    margin-top: -30px;
    text-align: left;
}
#directions li#conceptual {
    top: 75%;
    left: 100%;
    text-align: left;
}
#directions li#personal {
    top: 100%;
    left: 50%;
    margin-top: 0;
    margin-left: -100px;
}
#directions li#industrial {
    top: 75%;
    right: 100%;
    text-align: right;
}
#directions li#factual {
    top: 25%;
    right: 100%;
    margin-top: -30px;
    text-align: right;
}

#projects-list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -37.5vh;
    margin-left: -33.5vh;
    height: 75vh;
    width: 67vh;
    list-style: none;
}
#projects-list > li {
    position: absolute;
    background-color: #FFFFFF;
}
#projects-list > li:before {
    position: absolute;
    top: -20px;
    left: -20px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #FF6225;
}
#projects-list > li a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}
#projects-list > li ul {
    list-style: none;
}
#projects-list h2 {
    font-size: 14px;
}

/* DETAIL */
#detail {
    width: 800px;
    margin: 0 auto;
    padding-top: 150px;
}

#detail h1 {
    font-family: FuturaBT-Light, sans-serif;
    font-size: 48px;
    color: #6b6b6b;
    text-align: center;
    margin-bottom: 30px;
}
#detail ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#detail li {
    margin-bottom: 50px;
}
#detail li.large {
    width: 800px;
}
#detail li.small {
    width: 350px;
}
#detail p {
    padding: 15px;
    background-color: #fff;
}