<html>
<head>
    <title>Audrey MGR | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/audddrey.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="intro">
    <p>I am a multi-disciplinary designer, currently focusing on UX/UI in London.</p>
    <p>
        <a href="/audrey.pdf" target="_blank"><strong>Read more</strong></a> or
        <a href="mailto:mgr.adr@gmail.com"><strong>contact me</strong></a>
    </p>
</div>

<div id="barba-wrapper">
    <div class="barba-container">
        {{ content }}
    </div>
</div>

<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
<script language="JavaScript" src="/js/audddrey.js"></script>
</body>
</html>