<html>
<head>
    <title>Audrey MGR | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/audddrey.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="intro">
    <p>I am a multi-disciplinary designer, currently focusing on UX/UI in London.</p>
    <p>
        <a href="/audrey.pdf" target="_blank"><strong>Read more</strong></a> or
        <a href="mailto:mgr.adr@gmail.com"><strong>contact me</strong></a>
    </p>
</div>
{% if page.hide_header != true %}
    <nav class="controls">
        <a href="/work/sample.html" class="prev" rel="prev">Prev</a>
        <a href="/index.html" class="home">Home</a>
        <a href="/work/sample.html" class="next" rel="next">Next</a>
    </nav>
{% endif %}
<did id="navigator">
    {{ content }}
</did>
<!--<script language="JavaScript" src="audddrey.js"></script>-->
</body>
</html>