---
layout: default
---

{% if page.previous.url %}
    {% assign prev = page.previous.url %}
{% else %}
    {% assign last_post = site.posts|first %}
    {% assign prev = last_post.url %}
{% endif %}

{% if page.next.url %}
    {% assign next = page.next.url %}
{% else %}
    {% assign first_post = site.posts|last %}
    {% assign next = first_post.url %}
{% endif %}

<nav id="controls">
    <a href="{{ prev }}" class="prev" rel="prev">prev</a>
    <a href="/" class="home">home</a>
    <a href="{{ next }}" class="next" rel="next">next</a>
</nav>

<div id="project">
    <article id="detail">
        {{ content }}
    </article>
</div>
