---
layout: default
---

{% if page.previous.url %}
    {% assign prev = page.previous.url %}
{% else %}
    {% assign last_post = site.posts|first %}
    {% assign prev = last_post.url %}
{% endif %}

{% if page.next.url %}
    {% assign next = page.next.url %}
{% else %}
    {% assign first_post = site.posts|last %}
    {% assign next = first_post.url %}
{% endif %}

<nav class="controls">
    <a href="{{ prev }}" class="prev" rel="prev">Prev</a>
    <a href="/index.html" class="home">Home</a>
    <a href="{{ next }}" class="next" rel="next">Next</a>
</nav>

<did id="navigator">
    <div id="project">
        <article id="detail">
            {{ content }}
        </article>
    </div>
</did>
